/fullTest.pyc
/error_image0.jpg
/backupdeepstack.zip
/faceembedding.db
/unknown0.jpg
/labeled/
/data/
/new/
/debug.pics/
/wiki.updates/
/hold/
/hold.RMRR.model/
/test/
/train.bak/
/train.fire/
/train.tmp/
/train/
/valid/
/test.cache
/train.cache
/train.zip
/fire.trainTest.log
